<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand text-white d-flex align-items-center" href="">
        <img src="assets/blanco.png" alt="Logo" width="150" height="60" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-right: 3%;">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-person-circle"> </i>
                    {{ mensajeBienvenida }} </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" (click)="logout()"><i class="bi bi-arrow-left-square-fill"></i> Cerrar
                        Sesión </a>
                </div>

            </li>
        </ul>
    </div>
</nav>

<h1 class=""> Asignaturas </h1>




<div *ngIf="asignaturas && asignaturas.length > 0" class="justify-content-center" style="margin-left: 180px;">
    <div class="accordion accordion-flush" id="accordionFlushExample" style="max-width: 900px;">
        <div class="accordion-item" *ngFor="let asignatura of asignaturas; let i = index">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#flush-collapse' + i" aria-expanded="false"
                    [attr.aria-controls]="'flush-collapse' + i" (click)="seleccionarMateria(+asignatura.id)">
                    <div class="d-flex align-items-center">
                        <img src="../../../assets/libro.png" class="card-img-top" id="imgcard"
                            style="width: 30px; height: 30px;">
                        <strong style="margin-left: 15px;">{{ asignatura.nombreMateria }}</strong>
                    </div>
                </button>

            </h2>
            <div [id]="'flush-collapse' + i" class="accordion-collapse collapse"
                [attr.data-bs-parent]="'#accordionFlushExample'">
                <div *ngIf="actividadesPorAsignatura[asignatura.id]">
                    <div class="row">
                        <div class="col-md-3 mb-3" *ngFor="let actividad of actividadesPorAsignatura[asignatura.id]">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ actividad.titulo }}</h5>
                                    <p class="card-text">{{ actividad.detalleActividad }}</p>
                                    <p class="card-text">Nota: {{ actividad.valor_nota }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!actividadesPorAsignatura[asignatura.id]">
                    No hay actividades disponibles.
                </div>
            </div>
        </div>
    </div>
</div>






<br> <br><br>

<footer class="footer">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h3>Brain Mentor</h3>
                <hr>
                <h4>Tu viaje educativo comienza con la guía perfecta hacia el conocimiento.</h4>
            </div>
            <div class="col">
                <div>
                    <p class="derechos"> ©2024 Brain Mentor - Ecuador</p>
                </div>
            </div>
            <div class="col">
                <img id="imgfooter" src="assets/blanco.png" alt="Logo" width="140" heigh="50">
            </div>
        </div>
    </div>
</footer>