.d-inline-block {
    color: white;
    /* Cambia el color del texto a blanco */
}

.navbar {
    background-color: #F57037;
}

.container {
    display: flex;
    align-items: center;
    padding-top: 100px;
}

.text {
    flex: 1;
    padding: 20px;
    font-size: 210%;
}

.text1 {
    flex: 1;
    padding: 20px;
    font-size: 190%;
    color: #F57037;
}

.image {
    flex: 1;
    text-align: center;
}

.img1 {
    margin-left: 120px; 
}

/* footer.component.css */
.footer {
    background-color: #F57037;
    color: #fff;
    padding: 0px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.container2 {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 2%;
}


