<!DOCTYPE html>
<html>
<nav>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Mi Área Personal</a>
    </li>
  </ul>
</nav>


<div class="container">
  <div class="text">
    <p>Bienvenido/a Estudiante</p>
    <p class="text1">Brain Mentor </p>
    <img src="/src/app/img/brain_naranja.png" alt="Descripción de la imagen">
  </div>
  <div class="image">
    <img src="/src/app/img/brain_naranja.png" alt="logo">
  </div>
</div>


<footer class="footer">
  <div class="container2">
    <p>  Brain Mentor - Todos los derechos reservados &copy; 2023</p>
  </div>
</footer>

</html>