.nav.justify-content-center {
    background-color: #F57037;
    padding: 10px; /* Ajusta el padding según sea necesario */
}
  
.nav.justify-content-center .nav-item .nav-link {
    color: white; /* Cambia el color del texto a blanco */
}
  