<div class="container mt-4">
    <h2>Formulario Bootstrap</h2>

    <form #estudianteForm="ngForm"> 
        <!-- Campo de texto -->
        <div class="input-group">      
            <input name="code" class="form-control" type="hidden" name="id_estudiante" #id="ngModel" [(ngModel)]="personaService.selectedEstudiante.id"/>
          </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre" #nombre="ngModel"
                [(ngModel)]="personaService.selectedEstudiante.nombre">
            <label for="apellido" class="form-label">Apellido:</label>
            <input type="text" class="form-control" id="apellido" placeholder="Ingresa tu apellido" #apellido="ngModel"
            [(ngModel)]="personaService.selectedEstudiante.apellido">
        </div>

        <div class="mb-3">
            <label for="cedula" class="form-label">Cedula:</label>
            <input type="text" class="form-control" id="cedula" placeholder="Ingresa tu cedula" #cedula="ngModel"
            [(ngModel)]="personaService.selectedEstudiante.cedula">
        </div>

        <div class="mb-3">
            <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento:</label>
            <input type="date" class="form-control" id="fechaNacimiento" #fechaNacimiento="ngModel"
            [(ngModel)]="personaService.selectedEstudiante.fechaNacimiento">
        </div>

        <div class="mb-3">
            <label for="direccion" class="form-label">Direccion:</label>
            <input type="text" class="form-control" id="direccion" placeholder="Ingresa tu direccion" #direccion="ngModel"
            [(ngModel)]="personaService.selectedEstudiante.direccion">
        </div>

        <!-- Campo de correo electrónico -->
        <div class="mb-3">
            <label for="correo" class="form-label">Correo electrónico:</label>
            <input type="email" class="form-control" id="correo" placeholder="Ingresa tu correo electrónico" #correo="ngModel"
            [(ngModel)]="personaService.selectedEstudiante.correo">
        </div>

        <div class="mb-3">
            <label for="celular" class="form-label">Número de Celular:</label>
            <input type="tel" class="form-control" id="celular" placeholder="Ingresa tu número de celular" #celular="ngModel"
            [(ngModel)]="personaService.selectedEstudiante.celular">
        </div>

        <!-- Botón de enviar -->
        <button type="button" class="btn btn-primary" (click)="createEstudiante(estudianteForm)">Guardar</button>
    </form>
</div>