<nav>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/admin" routerLinkActive="active">Inicio</a>
        </li>

    </ul>
</nav>

<p class="est"><b> Estudiantes </b> </p>

<button type="button" class="btn btn-primary" id="modal" (click)="openAddEstudianteModal()">
    Añadir Estudiante </button>
<!-- Modal -->
<div class="modal fade" id="addEstudianteModal" tabindex="-1" aria-labelledby="addEstudianteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"> Añadir Estudiante</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeAddEstudianteModal()"></button>
            </div>

            <div class="modal-body">
                <form #estudianteForm="ngForm">
                    <div class="input-group">
                        <input name="code" class="form-control" type="hidden" name="id_estudiante" #id="ngModel"
                            [(ngModel)]="personaService.selectedEstudiante.id" />
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre"
                                [(ngModel)]="personaService.selectedEstudiante.nombre" name="nombre" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="apellido" class="form-label">Apellido:</label>
                            <input type="text" class="form-control" id="apellido" placeholder="Ingresa tu apellido"
                                #apellido="ngModel" [(ngModel)]="personaService.selectedEstudiante.apellido"
                                name="apellido" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="cedula" class="form-label">Cedula:</label>
                            <input type="text" class="form-control" id="cedula" placeholder="Ingresa tu cedula"
                                #cedula="ngModel" [(ngModel)]="personaService.selectedEstudiante.cedula" name="cedula"
                                required>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento:</label>
                            <input type="date" class="form-control" id="fechaNacimiento" #fechaNacimiento="ngModel"
                                [(ngModel)]="personaService.selectedEstudiante.fechaNacimiento" name="fechaNacimiento"
                                required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="direccion" class="form-label">Direccion:</label>
                            <input type="text" class="form-control" id="direccion" placeholder="Ingresa tu direccion"
                                #direccion="ngModel" [(ngModel)]="personaService.selectedEstudiante.direccion"
                                name="direccion" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="correo" class="form-label">Correo electrónico:</label>
                            <input type="email" class="form-control" id="correo"
                                placeholder="Ingresa tu correo electrónico" #correo="ngModel"
                                [(ngModel)]="personaService.selectedEstudiante.correo" name="correo" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="celular" class="form-label">Número de Celular:</label>
                            <input type="tel" class="form-control" id="celular"
                                placeholder="Ingresa tu número de celular" #celular="ngModel"
                                [(ngModel)]="personaService.selectedEstudiante.celular" name="celular" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-g"
                    (click)="createEstudiante(estudianteForm)">Guardar</button>
            </div>
        </div>
    </div>
</div>


<div class="container mt-4">


    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Cedula</th>
                <th scope="col">Fecha Nacimiento</th>
                <th scope="col">Direccion</th>
                <th scope="col">Correo</th>
                <th scope="col">Celular</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let estudiante of personaService.estudiantes">
                <td>{{estudiante.nombre}}</td>
                <td>{{estudiante.apellido}}</td>
                <td>{{estudiante.cedula}}</td>
                <td>{{ estudiante.fechaNacimiento | date:'dd-MM-yyyy' }}</td>
                <td>{{estudiante.direccion}}</td>
                <td>{{estudiante.correo}}</td>
                <td>{{estudiante.celular}}</td>
                <td>
                    <button type="button" class="btn btn-primary" id="btn-g"
                        (click)="editEstudiante(estudiante)">Editar</button>
                </td>
                <!-- Modal de Edición -->
                <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Estudiante</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                    (click)="closeEditEstudianteModal()"></button>
                            </div>
                            <div class="modal-body">
                                <form #estudianteForm2="ngForm">
                                    <!-- Campo de ID oculto -->
                                    <input type="hidden" [(ngModel)]="personaService.selectedEstudiante.id" name="id" />

                                    <div class="mb-3">
                                        <label for="nombre" class="form-label">Nombre:</label>
                                        <input type="text" class="form-control" id="nombre"
                                            [(ngModel)]="personaService.selectedEstudiante.nombre" name="nombre">
                                    </div>
                                    <div class="mb-3">
                                        <label for="apellido" class="form-label">Apellido:</label>
                                        <input type="text" class="form-control" id="apellido"
                                            [(ngModel)]="personaService.selectedEstudiante.apellido" name="apellido">
                                    </div>
                                    <div class="mb-3">
                                        <label for="direccion" class="form-label">Dirección:</label>
                                        <input type="text" class="form-control" id="direccion"
                                            [(ngModel)]="personaService.selectedEstudiante.direccion" name="direccion">
                                    </div>
                                    <div class="mb-3">
                                        <label for="correo" class="form-label">Correo:</label>
                                        <input type="text" class="form-control" id="correo"
                                            [(ngModel)]="personaService.selectedEstudiante.correo" name="correo">

                                    </div>
                                    <div class="mb-3">
                                        <label for="celular" class="form-label">Celular:</label>
                                        <input type="text" class="form-control" id="celular"
                                            [(ngModel)]="personaService.selectedEstudiante.celular" name="celular">
                                    </div>

                                    <!-- Botón de guardar en el modal de edición -->
                                    <button type="button" class="btn btn-primary"
                                        (click)="updateEstudiante(estudianteForm2)">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
        </tbody>
    </table>
</div>