.nav.justify-content-center {
    background-color: #F57037;
    padding: 10px;
    
}

.nav.justify-content-center .nav-item .nav-link {
    color: white;
  
}

.est {
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}

.d-flex {
    margin-left: 50px;
}

#modal {
    margin-left: 30%;
    background-color: #545454;
    border-color: #545454;
}

#exampleModalLabel {
    display: block;
    margin: auto;
    margin-left: 39%;
}

#btn-g {
    background-color: #F5C020;
    border-color: #F5C020;
    margin-right: 42%;
    border-radius: 100px;
}

#btn-g2 {
    background-color: #53f1d7;
    border-color: #53f1d7;
    margin-right: 42%;
    border-radius: 100px;
    color: black;
}
#btn-g3 {
    background-color: #d153f1;
    border-color: #d153f1;
    
    border-radius: 100px;
    color: black;
}

.form-control {
    border-color: #F57037;
    border-radius: 100px;
}

.modal-body {
    background-color: #F2F3F7;
}

#exampleModal .modal-dialog {
    max-width: 53%;
    margin: 1.75rem auto;
}

#exampleModal .modal input {
    width: 105%;
    
}

#editModal {
    z-index: 1000;
  }
  
  #docenteListModal {
    position: absolute;
    z-index: 1500;
    /* Agrega otras propiedades de estilo según sea necesario */
  }
  .btn-primary2{
    background-color: rgb(255, 255, 255);
    border-color: black;
    color: #F2F3F7;
    margin-left: 5px;
}

.btn-primary2:hover{
    background-color: rgb(248, 244, 244);
    border-color: black;
    color: #F2F3F7;
}

.bi-filetype-pdf{
    color: red;
}
.bi-file-earmark-excel-fill{
    color: green;
}
  