<nav class="navbar navbar-expand-lg navbar-light sticky-top">
  <a class="navbar-brand text-white d-flex align-items-center" >
    <img src="assets/blanco.png" alt="Logo" width="150" height="60" class="d-inline-block align-text-top">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item" (click)="regresarPagina()">
        <a class="nav-link"> <i class="bi bi-house-gear-fill"></i> Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Administrar </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/estudiante"> Estudiantes</a>
          <a class="dropdown-item " href="/docente">Docentes</a>
          <a class="dropdown-item" href="/grado"> Grado </a>
          <a class="dropdown-item" href="/asignatura"> Asignatura </a>
          <a class="dropdown-item" href="/periodo"> Periodo Lectivo</a>
          <a class="dropdown-item" href="/periodo-calificaciones"> Periodo de Calificaciones </a>
          <a class="dropdown-item" href="/actividades"> Tipo de Actividad </a>
          <a class="dropdown-item" href="/matricula"> Matrícula </a>
          <a class="dropdown-item" href="/actividades-educativas"> Actividades Educativas </a>
          <a class="dropdown-item" href="/nota"> Calificaciones </a>
        </div>
      </li>
    </ul>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-right: 3%;">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-person-circle"> </i>
            {{ mensajeBienvenida }} </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="logout()"><i class="bi bi-arrow-left-square-fill"></i> Cerrar Sesión </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h1 class=""> Calificaciones </h1>
<div class="linea"></div>

<div class="container text-center">
  <div class="row align-items-center">
    <div class="col" style="margin-left: 95px;">
      <label for="periodo" class="form-label"><i class="bi bi-file-bar-graph-fill"></i> Grado</label>
      <select class="form-select" id="gradoId" [(ngModel)]="selectedGradoId" name="gradoId" (change)="onGradoSelected()"
        required>
        <option *ngFor="let grado of grados" [value]="grado.id">{{getGradosTable(grado.nombreGrado) }} </option>
      </select>
    </div>
    <div class="col">
      <label for="periodo" class="form-label"> <i class="bi bi-book-fill"></i> Asignatura</label>
      <select class="form-select" id="asignaturaId" [(ngModel)]="selectedAsignaturaId" name="asignaturaId"
        (change)="onAsignaturaSelected()" required>
        <option *ngFor="let asignatura of asignaturas" [value]="asignatura.id">{{ asignatura.nombreMateria }} </option>
      </select>
    </div>
    <div class="col" style="margin-right: 55px;">
      <label for="periodo" class="form-label"><i class="bi bi-chat-square-text-fill"></i> Actividad</label>
      <select class="form-select" id="actividadId" [(ngModel)]="selectedActividadId" name="actividadId"
        (change)="onActividadSelected()" required>
        <option *ngFor="let actividad of actividades" [value]="actividad.id">{{ actividad.titulo }} </option>
      </select>
    </div>
  </div>
</div>
<br><br>
<div class="d-flex align-items-center">
  <button type="button" class="btn btn-outline-danger" (click)="onImprimir()"> Descargar
    <i class="bi bi-file-pdf" id="pdf"></i>
  </button> <button type="button" class="btn btn-outline-success" (click)="imprimirExcel()">Descargar
    <i class="bi bi-file-earmark-excel"></i>
  </button>
</div>
<br><br>

<div class="form-check form-switch" style="margin-left: 990px;">
  <input class="form-check-input" type="checkbox" id="switchEditarNotas" [(ngModel)]="editarNotasHabilitado"
    (ngModelChange)="guardarCambiosNotas()">
  <label class="form-check-label" for="switchEditarNotas">Editar notas</label>
</div>

<div class="container mt-4">
  <section class="tabla">
    <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
        <tr>
          <th>Estudiante</th>
          <th>Actividad</th>
          <th>Asignatura</th>
          <th>Nota</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of datosfinales">
          <td>{{ result.nombre }} {{ result.apellido }}</td>
          <td>{{ result.tituloActividad }}</td>
          <td>{{ result.nombreAsignatura}}</td>
          <td>
            <ng-container *ngIf="editarNotasHabilitado; else noEditable">
              <div contenteditable="true" id="{{ result.idNota }}" (focusout)="asignarNota(result.idNota, $event)">
                {{ result.nota }}
              </div>
            </ng-container>
            <ng-template #noEditable>
              {{ result.nota }}
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>

<!--Footer-->

<br> <br><br> <br><br>
<footer class="footer">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h3>Brain Mentor</h3>
        <hr>
        <h4>Tu viaje educativo comienza con la guía perfecta hacia el conocimiento.</h4>
      </div>
      <div class="col">
        <div>
          <p class="derechos"> ©2024 Brain Mentor - Ecuador</p>
        </div>
      </div>
      <div class="col">
        <img id="imgfooter" src="assets/blanco.png" alt="Logo" width="140" heigh="50">
      </div>
    </div>
  </div>
</footer>