<div class="wrapper" style="background-color: #ceb0ff">
    <div class="inner">
        <div class="image-holder">
            <img src="assets/brain_login.png" alt="">
        </div>
        <form>
            <h2 style="text-align: center;"> Actualización de Contraseña </h2>
            <br><br>
           
            <div class="mb-3">
                <label for="exampleInputPassword2" class="form-label">Contraseña Nueva</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="contrasenia">
            </div> 
            <button type="submit" class="btn btn-primary"> Actualizar </button>
        </form>
    </div>
</div>