p {
    font-family: 'Raleway', sans-serif;
}

a {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: regular;
    font-size: 60px;
    flex: 1;
    padding: 50px;
    text-align: center;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

h3 {
    font-family: 'Raleway', sans-serif;
}

h4 {
    font-family: 'Raleway', sans-serif;
}

h6 {
    font-family: 'Raleway', sans-serif;
}

.d-inline-block {
    color: white;
    /* Cambia el color del texto a blanco */
}

/*MENU*/
nav ul li {
    margin: 5px;
}
nav ul li:hover {
    background-color: #7917CA;
    border-radius: 20px;
    color: #ffffff;
}
nav ul li a {
    margin: 2px;
    margin-left: 5px;
    margin-right: 5px;
}
nav ul li a:hover {
    color: #ffffff;
}
ul{
    margin: 0 auto;
}

/*BOTONES cards*/
.rounded-container {
    width: 55%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #545454;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 70px;
}

.morado-button {
    background-color: #7917CA;
    /* Cambia el color de fondo del botón si es necesario */
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.cards {
    margin: 4%;
}

.row {
    margin-top: 3%;
}

.card {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(196, 196, 196, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(196, 196, 196, 1);
    box-shadow: 0px 0px 20px 0px rgba(196, 196, 196, 1);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card:hover {
    -webkit-box-shadow: 0px 0px 40px 0px rgba(196, 196, 196, 1);
    -moz-box-shadow: 0px 0px 40px 0px rgba(196, 196, 196, 1);
    box-shadow: 0px 0px 40px 0px rgba(196, 196, 196, 1);
    border-color: #7917CA;
}

.card img {
    margin-top: 20%;
    margin-bottom: 10%;
    width: 40%;
    height: 40%;
}


/*FOOTER*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');



.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;

    font-family: 'Raleway', sans-serif;


}

.footer {
    background-color: #1c1c1c;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #7917CA;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #00d9ff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}