<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div style="background-color: #F57037; display: flex; align-items: center;">
            <a class="navbar-brand text-white d-flex align-items-center" href="">
                <img src="assets/brain_blanco.png" alt="Logo" width="40" height="40"
                    class="d-inline-block align-text-top">
                <span class="ml-2" style="color: white;">Brain Mentor</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

    </nav>

    <p class="text"> Administrar </p>

    <div class="rounded-container">
        <div class="centered-buttons">
            <div class="card" >
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                    <a routerLink="/docente" routerLinkActive="active" class="orange-button">Docente</a>
                </div>
            </div>
            <div class="card" >
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                    <a routerLink="/estudiante" routerLinkActive="active" class="orange-button">Estudiante</a>
                </div>
            </div>
            <div class="card" >
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                    <a routerLink="/periodo" routerLinkActive="active" class="orange-button">Periodo</a>
                </div>
            </div>
            <div class="card" >
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                    <a routerLink="/asignatura" routerLinkActive="active" class="orange-button">Asignatura</a>
                </div>
            </div>
        </div>
    </div>

   


    <footer class="footer">
        <div class="container2">
            <p> Brain Mentor - Todos los derechos reservados &copy; 2023</p>
        </div>
    </footer>
</body>

</html>