@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

/*FUENTES*/

input,
textarea,
select,
label {
    font-family: 'Raleway', sans-serif;
    color: #1c1c1c;

}

p {
    font-family: 'Raleway', sans-serif;

}

a {
    font-family: 'Raleway', sans-serif;
}

/*cambiar*/
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: regular;
    font-size: 40px;
    flex: 1;
    padding: 50px;
    text-align: center;
}

h2 {
    font-family: 'Raleway', sans-serif;

}

h3 {
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

h4 {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 16px;

}

h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    flex: 1;
    padding: 3px;
    text-align: center;
    color: #ffffff;
}

.form-label {
    display: inline-block;
    margin-bottom: .5rem;
    text-align: left;
}


/*MENU*/
nav a img {
    margin-left: 20px;
}

.navbar {
    background-color: #9358f2 !important;
}

nav ul li {
    margin: 2px;
    width: 100%;
}

nav ul li a {
    border-radius: 20px;
    margin: 2px;
    border: 10px;
    color: white;
}

nav ul li a:hover {
    color: #ffffff;
    background-color: #833df3;
    border-radius: 20px;
}

.dropdown-item {
    color: #1c1c1c;
}

.sticky-top {
    background-color: #1c1c1c;
}




.linea {
    border-top: 2px solid #833df3;
    height: 2px;
    max-width: 200px;
    padding: 0;
    margin: 10px auto 0 auto;
    margin-bottom: 50px;

}

/*MODAL*/

.modal-header {
    background: linear-gradient(#9358f2, #a777f4, #a372f3, );
}

.btn-light {
    background-color: #9358f2;
    border: 1px solid #9358f2;
}

.btn-light:hover {
    background-color: #9358f2;

}

.bi-x-lg {
    color: white;
    background-color: none;
}

.bi-x-lg:hover {
    color: rgb(211, 211, 211);

}

.d-flex button {
    margin: 0 auto;
}

/*BOTONES*/
.btn-primary {
    background-color: #833df3;
    border: 1px solid #833df3;
    border-radius: 25px;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #f2f2f2;
    border-radius: 25px;
    border: 1px solid #7917CA;
    color: #7917CA;

}


.btn-primary {
    background-color: #9358f2;
    border: 1px solid #9358f2;
    border-radius: 25px;
    color: #ffffff;
    height: 50px;
    width: 170px;
}

.btn-primary:hover {
    background-color: #f2f2f2;
    border-radius: 25px;
    border: 1px solid #9358f2;
    color: #9358f2;
    margin: 30px;
}

/*BOTONES*/
.btn-primary {
    background-color: #9358f2;
    border: 1px solid #9358f2;
    border-radius: 25px;
    color: #ffffff;
    height: 50px;
    width: 170px;
}

.btn-primary:hover {
    background-color: #f2f2f2;
    border-radius: 25px;
    border: 1px solid #9358f2;
    color: #9358f2;
    margin: 30px;
}

.btn-dark {
    background-color: #9358f2;
    border: 1px solid #9358f2;
    border-radius: 25px;
    color: #ffffff;
}

.btn-dark:hover {
    background-color: #f2f2f2;
    border-radius: 25px;
    border: 1px solid #9358f2;
    color: #9358f2;
}

.btn-secondary {
    background-color: #8f8f8f;
    border: 1px solid #8f8f8f;
    border-radius: 20px;
    color: #ffffff;
}

.btn-secondary:hover {
    background-color: #000000;
    border-radius: 25px;
    border: 1px solid #000000;
    color: #ffffff;
}

.btn-outline-danger {
    height: 50px;
    width: 150px;
    border-radius: 25px;
}

.btn-outline-success {
    height: 50px;
    width: 150px;
    border-radius: 25px;
}

.btn-success {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

#exampleModal .modal-dialog {
    max-width: 53%;
    margin: 1.75rem auto;
}

input:hover {
    border: 1px solid #9358f2;
}

.modal-body {
    background-color: #ffffff;
    margin: 30px
}

.btn-outline-danger {

    border-radius: 25px;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    background-color: #1c1c1c;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: .5em;
    display: inline-block;
    width: auto;
    border: 1px solid #9358f2;
}


/*FOOTER*/
.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    font-family: 'Raleway', sans-serif;
}


.footer {
    background-color: #1c1c1c;
    padding: 50px 0;
    color: white;
}

hr {
    width: 90px;
    height: 3px;
    background-color: #ead1ff;

}

.derechos {
    margin-top: 15%;
    text-align: center;
    color: #939393;


}

#imgfooter {
    margin-top: 8%;
}


#modal {
    height: 50px;
}

#modal {
    /* Cambia el color de fondo del botón si es necesario */

    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 25px;
}

/*TABLA*/

.tabla {
    margin: 80px;

}

.table {
    margin: 20px;
}

th {
    font-family: 'Raleway', sans-serif;

}

td {
    font-family: 'Raleway', sans-serif;

}

button {
    font-family: 'Raleway', sans-serif;
}