<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand text-white d-flex align-items-center" href="">
        <img src="assets/blanco.png" alt="Logo" width="150" height="60" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item" (click)="regresarPagina()">
                <a class="nav-link"> <i class="bi bi-house-gear-fill"></i> Inicio <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Administrar </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/estudiante"> Estudiantes</a>
                    <a class="dropdown-item " href="/docente">Docentes</a>
                    <a class="dropdown-item" href="/grado"> Grado </a>
                    <a class="dropdown-item" href="/asignatura"> Asignatura </a>
                    <a class="dropdown-item" href="/periodo"> Periodo Lectivo</a>
                    <a class="dropdown-item" href="/periodo-calificaciones"> Periodo de Calificaciones </a>
                    <a class="dropdown-item" href="/actividades"> Tipo de Actividad </a>
                    <a class="dropdown-item" href="/matricula"> Matrícula </a>
                    <a class="dropdown-item" href="/actividades-educativas"> Actividades Educativas </a>
                    <a class="dropdown-item" href="/nota"> Calificaciones </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<h1 class=""> Matrícula </h1>
<div class="linea"></div>

<div class="d-flex align-items-center">
    <!-- Botón "Añadir Docente" -->
    <button type="button" class="btn btn-primary" id="modal" (click)="openAddAsignaturaModal()">
        Añadir Matricula </button>
</div>

<div class="modal fade" id="addMatriculaModal" tabindex="-1" aria-labelledby="addAsignaturaModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title fs-5" id="exampleModalLabel"> <i class="bi bi-building-fill-up"></i> <br>Añadir
                    Matricula</h6>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeAddAsignaturaModal()"><i class="bi bi-x-lg"></i></button>
            </div>
            <div class="modal-body">
                <form #asignaturaForm="ngForm">
                    <div class="input-group">
                        <input name="code" class="form-control" type="hidden" name="id_matricula" #id="ngModel"
                            [(ngModel)]="matriculaServices.selectedMatricula.id" />
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="estado" class="form-label"><i class="bi bi-toggles"></i> Estado</label>
                            <select class="form-select" aria-label="Selecciona el estado" id="estado" name="estado"
                                [(ngModel)]="matriculaServices.selectedMatricula.estado" required>
                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="docente" class="form-label"><i class="bi bi-file-bar-graph-fill"></i> Grado</label>
                            <select class="form-select" id="idGrado"
                                [(ngModel)]="matriculaServices.selectedMatricula.idGrado" name="idGrado" required>
                                <option *ngFor="let grado of grados" [value]="grado.id">{{ getGrados(grado.nombreGrado)
                                    }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" mb-3">
                            <label for="docente" class="form-label"><i class="bi bi-calendar-day-fill"> </i> Periodo</label>
                            <select class="form-select" id="idPeriodo"
                                [(ngModel)]="matriculaServices.selectedMatricula.idPeriodo" name="idPeriodo" required>
                                <option *ngFor="let periodo of periodos" [value]="periodo.id">{{ periodo.anioLectivo}}
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="idPersona" class="form-label"><i class="fas fa-user"> </i> Estudiante</label>
                            <input id="idPersona" class="form-control" type="text" formControlName="nombreEstudiante"
                                [value]="myForm.get('nombreEstudiante')?.value" [attr.disabled]="true"
                                [ngModel]="matriculaServices.selectedEstudiante?.nombre">
                        </div>
                    </div>
                    <a class="btn btn-dark" (click)="openEstudianteListaModal()">Buscar estudiante
                    </a>
                    <!-- Nuevo Modal para la Lista de ESTUDIANTES -->
                    <div class="modal fade" id="estudianteListModal" tabindex="-1" aria-labelledby="estudianteListModal"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h6 class="modal-title fs-5" id="estudianteListModal">Lista de Estudiantes</h6>
                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                                        aria-label="Close" (click)="closeDocenteListModal()"><i
                                            class="bi bi-x-lg"></i></button>
                                </div>
                                <!-- En el cuerpo del modal de la lista de docentes -->
                                <div class="modal-body">
                                    <!-- Utiliza ngFor para iterar sobre la lista de docentes no asignados -->
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Cédula</th>
                                                <th>Nombre</th>
                                                <th>Apellido</th>
                                                <th>Acciones</th>
                                                <!-- Puedes agregar más columnas según tus necesidades -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let estudiante of searchResults">
                                                <td>{{ estudiante.cedula }}</td>
                                                <td>{{ estudiante.nombre }}</td>
                                                <td>{{ estudiante.apellido }}</td>
                                                <td>
                                                    <button type="button" class="btn btn-dark"
                                                        (click)="cargarStudiante(estudiante)"> Matricular</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="closeAddAsignaturaModal()"> Cerrar</button>
                <button type="button" class="btn btn-dark" (click)="createAsignatura(asignaturaForm)">
                    Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="d-flex align-items-center">
        <button type="button" class="btn btn-outline-danger" (click)="onImprimir()"> Descargar
            <i class="bi bi-file-pdf" id="pdf"></i>
        </button> <button type="button" class="btn btn-outline-success" (click)="imprimirExcel()">Descargar
            <i class="bi bi-file-earmark-excel"></i>
        </button>
    </div>
    <section class="tabla">
        <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
                <tr>
                    <th scope="col">Estudiante </th>
                    <th scope="col"> Grado </th>
                    <th scope="col">Periodo </th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let matricula of matriculaLista">
                    <td>{{ matricula.persona.nombre + ' ' + matricula.persona.apellido }}</td>
                    <td>{{getGradosTable(matricula.grado.nombreGrado)}}</td>
                    <td>{{matricula.periodo.anioLectivo}}</td>
                    <td>{{matricula.estado === 'A' ? 'Activo' : 'Inactivo' }}</td>
                    <td>
                        <button (click)="editMatricula(matricula)" type="button" class="btn btn-success" id=""><i
                                class="bi bi-pencil-square"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Modal de Edición -->
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title fs-5" id="exampleModalLabel"><i class="bi bi-save-fill"></i> <br>Editar
                            Matrícula</h6>
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal" aria-label="Close"
                            (click)="closeEditMatriculaModal()"><i class="bi bi-x-lg"></i></button>
                    </div>
                    <div class="modal-body">
                        <form #asignaturaForm2="ngForm">
                            <div class="input-group">
                                <input name="code" class="form-control" type="hidden" name="id_matricula" #id="ngModel"
                                    [(ngModel)]="matriculaServices.selectedMatricula.id" />
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="estado" class="form-label"><i class="bi bi-toggles"></i> Estado </label>
                                    <select class="form-select" aria-label="Selecciona el estado" id="estado"
                                        name="estado" [(ngModel)]="matriculaServices.selectedMatricula.estado" required>
                                        <option value="A">Activo</option>
                                        <option value="I">Inactivo</option>
                                    </select>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label for="docente" class="form-label"><i class="bi bi-file-bar-graph-fill"></i> Grado</label>
                                    <select class="form-select" id="idGrado"
                                        [(ngModel)]="matriculaServices.selectedMatricula.idGrado" name="idGrado"
                                        required [disabled]="true">
                                        <option *ngFor="let grado of grados" [value]="grado.id">{{
                                            getGradosEdit(grado.nombreGrado) }}
                                        </option>
                                    </select>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-6 mb-3">
                                    <label for="docente" class="form-label"><i class="bi bi-calendar-day-fill"> </i> Periodo</label>
                                    <select class="form-select" id="idPeriodo"
                                        [(ngModel)]="matriculaServices.selectedMatricula.idPeriodo" name="idPeriodo"
                                        required [disabled]="true">
                                        <option *ngFor="let periodo of periodos" [value]="periodo.id">{{
                                            periodo.anioLectivo}}
                                        </option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        (click)="closeEditMatriculaModal()">Cerrar</button>
                                    <!-- Botón de guardar en el modal de edición -->
                                    <button type="button" class="btn btn-dark"
                                        (click)="updateMatricula(asignaturaForm2)">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<!--Footer-->

<br> <br><br> <br><br>

<footer class="footer">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h3>Brain Mentor</h3>
                <hr>
                <h4>Tu viaje educativo comienza con la guía perfecta hacia el conocimiento.</h4>
            </div>
            <div class="col">
                <div>
                    <p class="derechos"> ©2024 Brain Mentor - Ecuador</p>
                </div>
            </div>
            <div class="col">
                <img id="imgfooter" src="assets/blanco.png" alt="Logo" width="140" heigh="50">
            </div>
        </div>
    </div>
</footer>