.nav.justify-content-center {
    background-color: #F57037;
    padding: 10px;
    
}

.nav.justify-content-center .nav-item .nav-link {
    color: white;
  
}

.est {
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}

.d-flex {
    margin-left: 50px;
}

#modal {
    margin-left: 11%;
    background-color: #545454;
    border-color: #545454;
}

#exampleModalLabel {
    display: block;
    margin: auto;
    margin-left: 39%;
}

#btn-g {
    background-color: #545454;
    border-color: #545454;
    margin-right: 2%;
}

.form-control {
    border-color: #F57037;
    border-radius: 100px;
}

.modal-body {
    background-color: #F2F3F7;
}

#exampleModal .modal-dialog {
    max-width: 53%;
    margin: 1.75rem auto;
}

#exampleModal .modal input {
    width: 105%;
    
}
.btn-primary2{
    background-color: rgb(255, 255, 255);
    border-color: black;
    color: #F2F3F7;
}

.btn-primary2:hover{
    background-color: rgb(248, 244, 244);
    border-color: black;
    color: #F2F3F7;
}

.bi-filetype-pdf{
    color: red;
}
.bi-file-earmark-excel-fill{
    color: green;
}