<nav>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/admin" routerLinkActive="active">Inicio</a>
        </li>

    </ul>
</nav>

<p class="est"><b> Periodo </b> </p>

<button type="button" class="btn btn-primary" id="modal" (click)="openAddPeriodoModal()">
    Añadir Periodo </button>
<!-- Modal -->
<div class="modal fade" id="addPeriodoModal" tabindex="-1" aria-labelledby="addPeriodoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"> Añadir Periodo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeAddPeriodoModal()"></button>
            </div>
            <div class="modal-body">
                <form #periodoForm="ngForm">
                    <div class="input-group">
                        <input name="code" class="form-control" type="hidden" name="id_periodo" #id="ngModel"
                            [(ngModel)]="periodoService.selectedPeriodo.id" />
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="anioLectivo" class="form-label">Año Lectivo:</label>
                            <input type="text" class="form-control" id="anioLectivo" placeholder="Ingrese año lectivo"
                                [(ngModel)]="periodoService.selectedPeriodo.anioLectivo" name="anioLectivo" required>
                        </div>
                                                 
                          <div class="col-md-6 mb-3">
                            <label for="estado" class="form-label">Estado:</label>
                            <input type="text" class="form-control" id="estado" placeholder="Ingresa el estado"
                              #apellido="ngModel" [(ngModel)]="periodoService.selectedPeriodo.estado" name="estado" required>
                          </div>
                          
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-g"
                    (click)="createPeriodo(periodoForm)">Guardar</button>
            </div>
        </div>
    </div>
</div>


<div class="container mt-4">


    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th scope="col">Año Lectivo</th>
                <th scope="col">Estado</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let periodo of periodoService.periodos">
                <td>{{periodo.anioLectivo}}</td>
                <td>{{periodo.estado}}</td>
               
                <td>
                    <button type="button" class="btn btn-primary" id="btn-g"
                        (click)="editPeriodo(periodo)">Editar</button>
                </td>
                <!-- Modal de Edición -->
                <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Periodo</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                    (click)="closeEditPeriodoModal()"></button>


                            </div>
                            <div class="modal-body">
                                <form #periodoForm2="ngForm">
                                    <!-- Campo de ID oculto -->
                                    <input type="hidden" [(ngModel)]="periodoService.selectedPeriodo.id" name="id" />

                                    <div class="mb-3">
                                        <label for="anioLectivo" class="form-label">Año Lectivo:</label>
                                        <input type="text" class="form-control" id="anioLectivo"
                                            [(ngModel)]="periodoService.selectedPeriodo.anioLectivo" name="anioLectivo">
                                    </div>
                                    
                                    <div class="mb-3">
                                        <label for="estado" class="form-label">Estado:</label>
                                        <input type="text" class="form-control" id="estado"
                                            [(ngModel)]="periodoService.selectedPeriodo.estado" name="estado">
                                    </div>
                                    <!-- Botón de guardar en el modal de edición -->
                                    <button type="button" class="btn btn-primary"
                                        (click)="updatePeriodo(periodoForm2)">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
        </tbody>
    </table>
</div>