<div class="wrapper" style="background-color: #ceb0ff">
  <div class="inner">
    <div class="image-holder">
      <img src="assets/brain_login.png" alt="">
    </div>
    <form (ngSubmit)="onSubmit()">
      <h2 style="text-align: center;">Inicio de sesión</h2>
      
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Usuario </label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          [(ngModel)]="selectedLogin.cedula" name="cedula" maxlength="10">
        <div id="emailHelp" class="form-text"></div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="selectedLogin.contrasena"
          name="contrasena">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Recordarme</label>
        <a [routerLink]="['/cambio-contrasenia-olvido']">¿Olvidó su contraseña?</a>
      </div>
      <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
     
      
    </form>

  </div>
</div>