<nav>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/admin" routerLinkActive="active">Inicio</a>
        </li>

    </ul>
</nav>

<p class="est"><b> Asignatura </b> </p>

<button type="button" class="btn btn-primary" id="modal" (click)="openAddAsignaturaModal()">
    Añadir Asignatura </button>
<!-- Modal -->
<div class="modal fade" id="addAsignaturaModal" tabindex="-1" aria-labelledby="addAsignaturaModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"> Añadir Asignatura</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeAddAsignaturaModal()"></button>
            </div>
            <div class="modal-body">
                <form #asignaturaForm="ngForm">
                    <div class="input-group">
                        <input name="code" class="form-control" type="hidden" name="id_asignatura" #id="ngModel"
                            [(ngModel)]="asignaturaService.selectedAsignatura.id" />
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="nombreMateria" class="form-label">Nombre Materia:</label>
                            <input type="text" class="form-control" id="nombreMateria"
                                placeholder="Ingrese nombre de materia"
                                [(ngModel)]="asignaturaService.selectedAsignatura.nombreMateria" name="nombreMateria"
                                required>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="estado" class="form-label">Estado:</label>
                            <select class="form-select" aria-label="Selecciona el estado" id="estado" name="estado"
                                [(ngModel)]="asignaturaService.selectedAsignatura.estado" required>
                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                            </select>
                        </div>

                    </div>
                    <div class="row">

                        <!-- <div class="col-md-6 mb-3">
                            <label for="docente" class="form-label">Seleccione Grado:</label>
                            <select class="form-select" id="idGrado"
                                [(ngModel)]="asignaturaService.selectedAsignatura.idGrado" name="idGrado" required>
                                <option *ngFor="let grado of searchResults" [value]="grado.id">{{ grado.nombreGrado }}
                                </option>
                            </select>
                        </div> -->
                        
                            <!-- <label for="docente" class="form-label">Seleccione Grado:</label>
                            <select class="form-select" id="idGrado" [(ngModel)]="asignaturaService.selectedAsignatura.idGrado" name="idGrado" required>
                              <option *ngFor="let grado of searchResults || []" [value]="grado.id">
                                {{ grado.id }} - {{ grado.nombreGrado }}
                              </option>
                            </select> -->
                          
                          <div class="col-md-6 mb-3">
                            <label for="idGrado" class="form-label">Nombre del Grado:</label>
                            <input id="idGrado" class="form-control" type="text" formControlName="nombreGrado"
                              [value]="myForm.get('nombreGrado')?.value" [attr.disabled]="true"
                              [ngModel]="asignaturaService.selectedGrado?.nombreGrado">
                          </div>
              



                          <div class="row">
                            <div class="col-md-6 mb-3">
                              <!-- <label for="cedulaDocente" class="form-label">Cédula del Docente:</label>
                              <input id="cedulaDocente" class="form-control" type="text" name="cedulaDocente" [(ngModel)]="searchQuery"
                                (input)="onCedulaInput()"> -->
                
                              <a class="btn btn-primary m-2" id="btn-g2" (click)="openGradosListaModal()">Seleccionar Grado</a>
                            </div>
                
                
                          </div>
                          
                          
                          








                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-g"
                    (click)="createAsignatura(asignaturaForm)">Guardar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="gradoListModal" tabindex="-1" aria-labelledby="gradoListModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="docenteListModalLabel">Lista de Docentes</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="closeGradoListModal()"></button>
        </div>
        <!-- En el cuerpo del modal de la lista de docentes -->
        <div class="modal-body">
          <!-- Utiliza ngFor para iterar sobre la lista de docentes no asignados -->
          <table class="table">
            <thead>
              <tr>
                <th>Grado</th>
                
                <th>Acciones</th>
                <!-- Puedes agregar más columnas según tus necesidades -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let grado of searchResults">
                <td>{{ grado.nombreGrado }}</td>
               
                <!-- Puedes agregar más columnas según tus necesidades -->
                <td>
                  <button type="button" class="btn btn-primary" (click)="cargarGrado(grado)">Seleccionar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <!-- Puedes agregar más secciones (body, footer, etc.) según tus necesidades -->
  
      </div>
    </div>
  </div>


<div class="container mt-4">
  <button type="button" class="btn btn-primary2" (click)="onImprimir()">
    <i class="bi bi-filetype-pdf"></i>
  </button>
  <button type="button" class="btn btn-primary2" (click)="imprimirExcel()">
    <i class="bi bi-file-earmark-excel-fill"></i>
  </button>

    <table class="table table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
            <tr>
                <th scope="col">Nombre Asignatura </th>
                <th scope="col">Estado</th>
                <th scope="col">Grado </th>
                <th scope="col"> Acción </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let asignatura of data">
                <td>{{asignatura.nombreMateria}}</td>
                <td>{{ asignatura.estado === 'A' ? 'Activo' : 'Inactivo' }}</td>

                <td>{{asignatura.nombreGrado}}</td>


                <td>
                    <button class="btn btn-info">Editar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>