<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand text-white d-flex align-items-center" href="">
        <img src="assets/blanco.png" alt="Logo" width="150" height="60" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin"> Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Administrar </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/estudiante"> Estudiantes</a>
                        <a class="dropdown-item " href="/docente">Docentes</a>
                        <a class="dropdown-item" href="/grado"> Grado </a>
                        <a class="dropdown-item" href="/asignatura"> Asignatura </a>
                        <a class="dropdown-item" href="/periodo"> Periodo Lectivo</a>
                        <a class="dropdown-item" href="/periodo-calificaciones"> Periodo de Calificaciones </a>
                        <a class="dropdown-item" href="/actividades"> Tipo de Actividad </a>
                        <a class="dropdown-item" href="/matricula"> Matrícula </a>
                        <a class="dropdown-item" href="/actividades-educativas"> Actividades Educativas </a>
                        <a class="dropdown-item" href="/nota"> Calificaciones </a>
                    </div>
            </li>
        </ul>
    </div>
  </nav>

<h1 class=""> Actividades Educativas </h1>

<div class="d-flex align-items-center">

    <!-- Botón "Añadir Docente" -->
    <button type="button" class="btn btn-primary" id="modal" (click)="openAddEducativaModal()">
        Añadir Actividad
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="addEducativaModal" tabindex="-1" aria-labelledby="addEducativaModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title fs-5" id="exampleModalLabel"><i class="bi bi-building-fill-up"></i> <br> Añadir
                    Actividad</h6>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeAddEducativaModal()"><i class="bi bi-x-lg"></i></button>
            </div>

            <div class="modal-body">
                <form *ngIf="myForm" #myForm="ngForm" (ngSubmit)="createActividadesEducativas(myForm)">
                    <div class="input-group">
                        <input name="code" class="form-control" type="hidden" name="id" #id="ngModel"
                            [(ngModel)]="educativaService.selectedActividades.id" />
                    </div>

                    <div class="row">
                        <div class="mb-3">
                            <label for="titulo"><i class="fas fa-user"></i> Titulo </label>
                            <input id="titulo" type="text" class="form-control" name="titulo"
                                [(ngModel)]="educativaService.selectedActividades.titulo" required maxlength="100">

                        </div>

                        <div class="mb-3">
                            <label for="detalleActividad"><i class="fas fa-user"></i> Detalle Actividad</label>
                            <input id="detalleActividad" type="text" class="form-control" name="detalleActividad"
                                [(ngModel)]="educativaService.selectedActividades.detalleActividad" required
                                maxlength="100">

                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3">
                            <label for="fechaInicio"><i class="fas fa-id-card"></i> Fecha Inicio</label>
                            <input id="fechaInicio" type="date" class="form-control" name="fechaInicio"
                                [(ngModel)]="educativaService.selectedActividades.fechaInicio" [min]="minFechaActual()">


                        </div>
                        <div class="mb-3">
                            <label for="fechaFin"><i class="fas fa-id-card"></i> Fecha Fin</label>
                            <input id="fechaFin" type="date" class="form-control" name="fechaFin"
                                [(ngModel)]="educativaService.selectedActividades.fechaFin" [min]="minFechaActual()">
                        </div>
                    </div>

                    <div class="row">

                        <div class="mb-3">
                            <label for="actividad" class="form-label">Tipo Actividad:</label>
                            <select class="form-select" id="tipoActId"
                                [(ngModel)]="educativaService.selectedActividades.tipoActId" name="tipoActId" required>
                                <option *ngFor="let tipActividad of actividad" [value]="tipActividad.id">{{
                                    tipActividad.nombreActividad }} </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="periodo" class="form-label">Periodo Calificacion:</label>
                            <select class="form-select" id="perCalId"
                                [(ngModel)]="educativaService.selectedActividades.perCalId" name="perCalId" required>
                                <option *ngFor="let periodo of periodoCalificacion" [value]="periodo.id">{{
                                    periodo.nombrePeriodo }} </option>
                            </select>
                        </div>
                        <div class=" mb-3">
                            <label for="periodo" class="form-label">Asignatura</label>
                            <select class="form-select" id="asignaturaId"
                                [(ngModel)]="educativaService.selectedActividades.asignaturaId" name="asignaturaId"
                                required>
                                <option *ngFor="let asignaturas of asignatura" [value]="asignaturas.id">{{
                                    asignaturas.nombreMateria }} </option>
                            </select>
                        </div>
                        <div class=" mb-3">
                            <label for="estado" class="form-label">Estado:</label>
                            <select class="form-select" aria-label="Selecciona el estado" id="estado" name="estado"
                                [(ngModel)]="educativaService.selectedActividades.estado" required>
                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            (click)="closeAddEducativaModal()">Cerrar</button>
                        <button type="submit" class="btn btn-dark">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">

    <div class="d-flex align-items-center">
        <button type="button" class="btn btn-outline-danger" (click)="onImprimir()"> Descargar
            <i class="bi bi-file-pdf" id="pdf"></i>
        </button> <button type="button" class="btn btn-outline-success" (click)="imprimirExcel()">Descargar
            <i class="bi bi-file-earmark-excel"></i>
        </button>
    </div>
<br><br>
    <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
            <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Detalle</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha Inicio </th>
                <th scope="col"> Fecha Fin </th>
                <th scope="col"> Periodo Calificacion </th>
                <th scope="col"> Tipo Actividad </th>
                <th scope="col"> Asignatura </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let educativasAc of actividadesEducativas">
                <td>{{educativasAc.titulo}}</td>
                <td>{{educativasAc.detalleActividad}}</td>
                <td>{{educativasAc.estado === 'A' ? 'Activo' : 'Inactivo'}}</td>
                <td>{{educativasAc.fechaFin | date: 'dd/MM/yyyy'}}</td>
                <td>{{educativasAc.fechaInicio | date: 'dd/MM/yyyy'}}</td>
                <td>{{educativasAc.periodoCalificaciones.nombrePeriodo}}</td>
                <td>{{educativasAc.tipoActividad.nombreActividad}}</td>
                <td>{{educativasAc.asignatura.nombreMateria}}</td>

            </tr>
        </tbody>
    </table>
</div>



<!--Footer-->

<br> <br><br> <br><br>

<footer class="footer">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h3>Brain Mentor</h3>
                <hr>
                <h4>Tu viaje educativo comienza con Brain Mentor, la guía perfecta hacia el conocimiento.</h4>
            </div>
            <div class="col">
                <div>
                    <p class="derechos"> ©2024 Brain Mentor - Ecuador</p>
                </div>
            </div>
            <div class="col">
                <img id="imgfooter" src="assets/blanco.png" alt="Logo" width="140" heigh="50">
            </div>
        </div>
    </div>
</footer>