<body>
    <nav>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/admin" routerLinkActive="active">Inicio</a>
            </li>

        </ul>
    </nav>

    <p class="est"><b> Docentes </b> </p>
    <br>
    <div class="d-flex align-items-center">
        <!-- Campo de búsqueda -->
        <input type="text" class="form-control" id="buscar" placeholder="Buscar por cédula" [(ngModel)]="searchQuery"
            (input)="onSearch()" maxlength="10">

        <!-- Botón "Añadir Docente" -->
        <button type="button" class="btn btn-primary" id="modal" (click)="openAddDocenteModal()">
            Añadir Docente
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addDocenteModal" tabindex="-1" aria-labelledby="addDocenteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"> Añadir Docente</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="closeAddDocenteModal()"></button>
                </div>

                <div class="modal-body">
                    <form *ngIf="myForm" #myForm="ngForm" (ngSubmit)="createDocente(myForm)">
                        <div class="input-group">
                            <input name="code" class="form-control" type="hidden" name="id_docente" #id="ngModel"
                                [(ngModel)]="personaService.selectedDocente.id" />
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="nombre"><i class="fas fa-user"></i> Nombre </label>
                                <input id="nombre" type="text" class="form-control" name="nombre"
                                    [(ngModel)]="personaService.selectedDocente.nombre" required maxlength="100">
                                <div
                                    *ngIf="myForm.controls['nombre']?.invalid && (myForm.controls['nombre']?.dirty || myForm.controls['nombre']?.touched)">
                                    <small class="text-danger">Ingrese un nombre válido (máximo 100 caracteres)</small>
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="apellido"><i class="fas fa-user"></i> Apellido</label>
                                <input id="apellido" type="text" class="form-control" name="apellido"
                                    [(ngModel)]="personaService.selectedDocente.apellido" required maxlength="100">
                                <div
                                    *ngIf="myForm.controls['apellido']?.invalid && (myForm.controls['apellido']?.dirty || myForm.controls['apellido']?.touched)">
                                    <small class="text-danger">Ingrese un apellido válido (máximo 100
                                        caracteres)</small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cedula"><i class="fas fa-id-card"></i> Cédula</label>
                                <input id="cedula" type="text" class="form-control" name="cedula"
                                    [(ngModel)]="personaService.selectedDocente.cedula" required pattern="[0-9]{10}"
                                    (input)="filterNumeric($event)" maxlength="10">
                                <div
                                    *ngIf="myForm.controls['cedula']?.invalid && (myForm.controls['cedula']?.dirty || myForm.controls['cedula']?.touched)">
                                    <small class="text-danger">Ingrese una cédula válida (10 dígitos)</small>
                                </div>
                                <div
                                    *ngIf="personaService.selectedDocente.cedula && !validarCedulaEcuatoriana(personaService.selectedDocente.cedula)">
                                    <small class="text-danger">La cédula no es Ecuatoriana</small>
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento:</label>
                                <input type="date" class="form-control" id="fechaNacimiento" #fechaNacimiento="ngModel"
                                    [(ngModel)]="personaService.selectedDocente.fechaNacimiento" name="fechaNacimiento">
                            </div>
                            <div
                                *ngIf="myForm.controls['fechaNacimiento']?.invalid && (myForm.controls['fechaNacimiento']?.dirty || myForm.controls['fechaNacimiento']?.touched)">
                                <small class="text-danger">Ingrese una fecha de nacimiento válida</small>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6 mb-3">
                                <label for="direccion"><i class="fas fa-map-marker-alt"></i> Dirección</label>
                                <input id="direccion" type="text" class="form-control" name="direccion"
                                    [(ngModel)]="personaService.selectedDocente.direccion" required maxlength="200">
                                <div
                                    *ngIf="myForm.controls['direccion']?.invalid && (myForm.controls['direccion']?.dirty || myForm.controls['direccion']?.touched)">
                                    <small class="text-danger">Ingrese una dirección válida (máximo 200 caracteres)</small>
                                </div>
                            </div>


                            <div class="col-md-6 mb-3">
                                <label for="correo"><i class="fas fa-envelope"></i> Correo Electrónico</label>
                                <input id="correo" type="correo" class="form-control" name="correo"
                                    [(ngModel)]="personaService.selectedDocente.correo" required correo>
                                <div
                                    *ngIf="myForm.controls['correo']?.invalid && (myForm.controls['correo']?.dirty || myForm.controls['correo']?.touched)">
                                    <small class="text-danger">Ingrese un correo electrónico válido</small>
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="celular"><i class="fas fa-phone"></i> Teléfono</label>
                                <input id="celular" type="text" class="form-control" name="celular"
                                    [(ngModel)]="personaService.selectedDocente.celular" required pattern="[0-9]{10}"
                                    (input)="filterNumeric($event)" maxlength="10">
                                <div
                                    *ngIf="myForm.controls['celular']?.invalid && (myForm.controls['celular']?.dirty || myForm.controls['celular']?.touched)">
                                    <small class="text-danger">Ingrese un número de teléfono válido (10 dígitos)</small>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                (click)="closeAddDocenteModal()">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Cedula</th>
                    <th scope="col">Fecha Nacimiento</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let docente of personaService.docentes">
                    <td>{{docente.nombre}}</td>
                    <td>{{docente.apellido}}</td>
                    <td>{{docente.cedula}}</td>
                    <td>{{ docente.fechaNacimiento | date:'dd-MM-yyyy' }}</td>
                    <td>{{docente.direccion}}</td>
                    <td>{{docente.correo}}</td>
                    <td>{{docente.celular}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" id="btn-g"
                            (click)="editDocente(docente)">Editar</button>
                    </td>
                    <!-- Modal de Edición -->
                    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Docente</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                        (click)="closeEditDocenteModal()"></button>
                                </div>
                                <div class="modal-body">
                                    <form #docenteForm2="ngForm">
                                        <!-- Campo de ID oculto -->
                                        <input type="hidden" [(ngModel)]="personaService.selectedDocente.id"
                                            name="id" />
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label for="nombre" class="form-label">Nombre:</label>
                                                <input type="text" class="form-control" id="nombre"
                                                    [(ngModel)]="personaService.selectedDocente.nombre" name="nombre">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="apellido" class="form-label">Apellido:</label>
                                                <input type="text" class="form-control" id="apellido"
                                                    [(ngModel)]="personaService.selectedDocente.apellido"
                                                    name="apellido">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label for="direccion" class="form-label">Dirección:</label>
                                                <input type="text" class="form-control" id="direccionedit"
                                                    [(ngModel)]="personaService.selectedDocente.direccion"
                                                    name="direccion">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label for="correo" class="form-label">Correo:</label>
                                                <input type="text" class="form-control" id="correo"
                                                    [(ngModel)]="personaService.selectedDocente.correo" name="correo">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="celular" class="form-label">Celular:</label>
                                                <input type="text" class="form-control" id="celular"
                                                    [(ngModel)]="personaService.selectedDocente.celular" name="celular">
                                            </div>
                                        </div>
                                        <!-- Botón de guardar en el modal de edición -->
                                        <button type="button" class="btn btn-primary"
                                            (click)="updateDocente(docenteForm2)">Guardar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </tr>
            </tbody>
        </table>
    </div>
</body>